<div class="header well-material-orange-800 shadow-z-2">
  <div class="header-content">
    <div class="navbar navbar-material-orange-800">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{home_title}}</a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">首页</a>
          </li>
          <li><a href="/download">下载</a>
          </li>
          <li class="dropdown">
            <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">开发者<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/doc">文档</a>
              </li>
              <li><a href="/demo/">演示</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/reg">注册</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-title">
      <div class="header-title-text">{{banner}}</div>
    </div>
  </div>
</div>
