<h1>{{banner}} - User Identity</h1>
<div class="progress" id="loading">
  <div class="indeterminate"></div>
</div>
<div id="data">
  <p id="name">Real Name：</p>
  <p id="idnum">ID Card Number：</p>
  <p id="uname">Rap-ID Username：</p>
</div>
