<h1>{{banner}} - 用户信息</h1>
<div class="progress" id="loading">
  <div class="indeterminate"></div>
</div>
<div id="data">
  <p id="name">姓名：</p>
  <p id="idnum">身份证号码：</p>
  <p id="uname">Rap-ID用户名：</p>
</div>
