<h1 class="center-align">应用正在利用Rap-ID对您的身份进行确定。</h1>
<h3 class="center-align">如果你没有安装Rap-ID，请安装。</h3>
<h3 class="center-align">如果你已经安装Rap-ID，请查看打开的授权窗口。</h3>
<script type="text/javascript">
setTimeout(function(){
	console.log('{{{callUrl}}}');
	location.replace('{{{callUrl}}}');
}, 1000);
</script>