<h1>Rap-ID</h1>

<h2>Overview</h2>

<p>As now there're increasing conditions requiring authentication and personal identity,
<code>Rap-ID</code> provides an algorithm which uses less user inputs but provides even more
security and features.</p>

<p>It's based on communication between PC and mobile phones, taking the phone as a
hardware token and ICCID as a media of real-name identity.</p>

<p>Rap-ID stands for <code>Rapid Automatic Procto - IDentity</code>.</p>

<h2>Document</h2>

<p>The documents can be accessed through the <code>doc</code> folder of this repository.</p>

<h2>Collaborator</h2>

<ul>
<li>@hackerchai(Yisheng Chai,柴轶晟)<a href="&#109;&#x61;&#x69;&#108;&#116;&#x6f;&#x3a;&#97;&#x64;&#x6d;&#105;&#110;&#x40;&#x68;&#x61;&#x63;&#x6b;&#101;&#114;&#99;&#x68;&#97;&#x69;&#46;&#99;&#111;&#x6d;">&#97;&#100;&#x6d;&#x69;&#110;&#64;&#104;&#97;&#x63;&#x6b;&#101;&#x72;&#99;&#x68;&#x61;&#105;&#46;&#x63;&#111;&#x6d;</a> Project Manager, Android Engineer</li>
<li>@coderfox(Yuze Fu,傅禹泽)<a href="&#109;&#97;&#x69;&#108;&#x74;&#111;&#x3a;&#x63;&#111;&#x64;&#x65;&#114;&#x66;&#111;&#x78;&#x2e;&#102;&#x75;&#64;&#x67;&#109;&#97;&#x69;&#x6c;&#x2e;&#99;&#x6f;&#x6d;">&#x63;&#x6f;&#100;&#x65;&#x72;&#x66;&#x6f;&#x78;&#x2e;&#x66;&#117;&#x40;&#103;&#x6d;&#x61;&#105;&#x6c;&#46;&#x63;&#111;&#x6d;</a> Platform Designer, Windows Engineer, Web Engineer</li>
<li>@LeeChenyu(Chenyu Li,李晨宇) Security Tester</li>
</ul>


<h2>Implements of Components</h2>

<p>The definition of these components can be found in the <del>Four Layer Specification</del>(Not Finished) doc.</p>

<h3>Middle Layer</h3>

<ul>
<li><a href="https://github.com/Rap-ID/Rap-ID-Windows">Rap-ID-Windows</a> <code>Obsolete</code>Rap-ID-Windows</li>
<li><a href="https://github.com/Rap-ID/Rap-ID.cs">Rap-ID.cs</a> <code>Unfinished</code>An Rap-ID interface layer implement on Windows based on C#.</li>
</ul>


<h3>Token Layer</h3>

<ul>
<li><a href="https://github.com/Rap-ID/Rap-ID-Android">Rap-ID-Android</a> <code>Continuing</code>An Rap-ID token layer implement on Android.</li>
</ul>


<h3>Server Layer</h3>

<ul>
<li><a href="https://github.com/Rap-ID/Rap-ID.server.js">Rap-ID.server.js</a> <code>Continuing</code>Backend for Rap-ID</li>
</ul>


<h3>Application Layer</h3>

<ul>
<li><a href="https://github.com/Rap-ID/Rap-ID-Demo">Rap-ID-Demo</a> <code>Obsolete</code>Rap-ID demo</li>
<li><a href="https://github.com/Rap-ID/Rap-ID.server.js">Rap-ID.server.js</a> <code>Continuing</code>Backend for Rap-ID</li>
</ul>


<h3>SDK and Documents</h3>

<ul>
<li><a href="https://github.com/Rap-ID/Rap-ID-SDK">Rap-ID-SDK</a> <code>Continuing</code>SDK for Rap-ID</li>
<li><a href="https://github.com/Rap-ID/Rap-ID-Front">Rap-ID-Front</a> <code>Obsolete</code>Rap-ID frontend</li>
</ul>
