.loading {
  margin-left: 30%;
}
.no-new-line {
  display: inline;
}
h0 {
  font-size: 128px;
}
h1 {
  font-size: 72px;
}
.label {
  font-size: 18px;
}
.left {
  width: 50%;
  float: left;
}
.right {
  width: 40%;
  float: right;
}
.cart {
  display: flex;
}